$color--black: #000;
$color--white: #fff;

body {
  background-color: $color--white;

  h1 {
    color: $color--white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap");
// font-family: 'Comfortaa', cursive;
// font-family: 'Frank Ruhl Libre', serif;
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BMJUA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin center-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin center-se {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@mixin c-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin c-center-sb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@mixin c-center-se {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
